@using Abp.Web.Mvc.Extensions
@using TaawonMVC.Web.Models.Common.Modals
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")

@model  TaawonMVC.Web.Models.Applications.ApplicationsViewModel


@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    SetAntiForgeryCookie();
}


<h2>Test</h2>
<div class="form-group form-float">
    <div class="form-line">

        @(Html.Kendo().MultiSelect().Name("UnitContentsTestMultiSelect") //The name of the MultiSelect is mandatory. It specifies the "id" attribute of the widget.
                                                                  .DataTextField("UnitPartName") //Specify which property of the unit to be used by the MultiSelect as a text.
                                                                  .DataValueField("Id") //Specify which property of the Unit to be used by the MultiSelect as a value.
                                                                  .BindTo(Model.BuildingUnitContents) //Pass the list of unit contents to the MultiSelect.
                                                                  .Placeholder("Select Unit Contents")

        )
    </div>




